@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Sinhala&display=swap');


.outermain{

}

.video{

}

.ammo{
    width: fit-content !important ; 
    position:absolute;
     font-size:70px; 
     font-weight:500; 
     color:red; 
     top:35%;
     left:30%;
     animation-name: example;
     animation-duration:10s;
     background-color: rgba(240, 248, 255, 0.651);
     animation-iteration-count: infinite;
     font-family: 'Noto Serif Sinhala', serif;
     transition: .2s;
  
    }

/* The animation code */
@keyframes example {
    10%   {color:peru; left:0px; top:0px;}
    20%  {color:pink; left: 20%; top:0px;}
    30%  {color:blue; left:40%; top:0%}
    40%  {color:black; left:0px; top:30%;}
    50% {color:teal; left:20%; top:30%;}
    60% {color:green; left:40%; top:30%;}
    70% {color:brown; left:0%; top:60%;}
    80% {color:red; left:20%; top:60%;}
    90% {color:lawngreen; left:40%; top:60%;}
    100% {color:purple; left:20%; top:30%;}

  }


  @media only screen and (max-width: 1200px) {
    .ammo{
    font-size: 46px;
      }
      .outermain{
overflow: hidden;
      }
      
  }

  @media only screen and (max-width: 600px) {
    .ammo{
    font-size: 24px;
      }
  }